{% extends "GloryUserBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="user-avatar">
                <img src="{{user.avatar}}" width="width" height="hight" alt="alt"/>
            </div>
            <div class="user-username">
                <span>{{user.username}}</span>
            </div>
        </div>

        <div class="col-md-6"><a href="{{path("glory_user_profile")}}">Profile</a></div>
        <div class="col-md-6"><a href="{{path("glory_user_logout")}}">Logout</a></div>
    </div>
{% endblock content %}