{% extends "GloryUserBundle:Admin:layout.html.twig" %}
{% block content %}
    <div class="box">
        <div class="box-body">
            <form action="{{ path('glory_user_group_edit', {'id': group.getId()} ) }}" {{ form_enctype(form) }} method="POST" class="group-edit">
                {{ form_widget(form) }}
                <button type="submit" class="btn btn-default">{{ 'group.edit.submit'|trans }}</button>
            </form>
        </div>
    </div>
{% endblock %}
