{% extends "GloryUserBundle::layout.html.twig" %}

{% block content %}
    <div class="container">
        <form action="" method="post">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock content %}