{% extends "GloryUserBundle:Admin:layout.html.twig" %}

{% block content %}
    <div class="user-edit">
        <form action="{{path('glory_user_manage_edit')}}" method="post">
            {{ form_widget(form) }}
            <input type="submit" value="保存" />
        </form>
    </div>
{% endblock %}
