{% extends "GloryUserBundle:Admin:layout.html.twig" %}

{% block content %}
    <div class="user-show">
        <label>UserName</label>
        <input type="text" name="username" value="{{user.username}}" />
    </div>
{% endblock %}
